*{
	padding: 0;
	margin: 0;
}
body{
	// background: #eeeff1;
}
.content{
	width: 100%;
}
.diyibu{
	width: 100%;
    height: 400px;
    background: #eeeff1;
}
.diyibu_con{
	width:1198px;
	margin:0 auto;
}
.dierbu{
	width: 100%;
    background: #f3f4f5;
    float:left;
}
.dierbu_con{
	width:1198px;
	margin:0 auto;
}
.disanbu{
	width: 100%;
    height: 507px;
    background: #eeeff1;
    float: left;
    position: relative;
}
.disanbu_con{
	width:1198px;
	margin:0 auto;
}
.disibu{
	width: 100%;
    background: #f3f4f5;
    float: left;
    position: relative;
}
.disibu_con{
	width:1198px;
	margin:0 auto;
}
.lunbo{
	width: 771px;
	height: 381px;
	background: red;
	position: relative;
	margin-left: 180px;
	margin-top: 10px;
}
.hezi{
	width:10000000px;
	height: 381px;
	position: absolute;
	left: 0px;
}
.hezi div{
	width: 771px;
	height: 381px;
	float: left;
}
.meng{
	background: #fff;
	opacity: 0.5;
	position: absolute;
	left: 44%;
	top: 340px;
	width: 98px;
	height: 20px;
	z-index: 100;
	border-radius:10px;
}
#b04{
	margin-left: 10px;
	float: left;
}
.login_right{
	width: 232px;
	/*height: 379px;*/
	float: right;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	margin-top:10px;
}
.login_s{
	width: 232px;
	height:  106px;
	position: relative;
	border-bottom:1px solid #e5e5e5;
}
.login_z{
	width: 232px;
	height:  129px;
	border-bottom:1px solid #f3f3f4;
	position: relative;
}
.login_x{
	width: 232px;
	height:  140px;
}
.kuangjia{
	width: 34px;
	height: 34px;
	margin-left: 16px;
	margin-top: 9px;
	float: left;

}
.kuangjia img{
	width: 100%;
	height: 100%;
}
.nec{
	font-family: "微软雅黑";
	font-size: 13.66px;
	color: #222222;
	display: block;
	float: left;
	margin-left: 9px;
	margin-top: 15px;
}
.deng{
	width: 90px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #ececec;
    position: absolute;
    left: 17px;
    top: 61px;
    font-family: "微软雅黑";
    font-size: 14.12px;
    color: #a0a0a0;
    line-height: 30px;
    text-align: center;
}
.mfzc{
	width: 90px;
    height: 30px;
    border-radius: 2px;
    position: absolute;
    left: 126px;
    top: 61px;
    font-family: "微软雅黑";
    font-size: 14.12px;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    background: #fe4d45;
}
a{
	text-decoration: none;
}

.lei{
	height: 33px;
	width: 232px;
}
.shike{
	border-right:  1px solid #e5e5e5;
	border-bottom:  1px solid #e5e5e5;
	float: left;
	width: 77.3px;
	height: 33px;
	font-family: "宋体";
    font-size: 12px;
    line-height: 33px;
    text-align: center;
    color: #a0a0a0;
    cursor: pointer;
    background:#f5f5f5;

}
.shangjia{

	float: left;
	width: 77.3px;
	height: 33px;
	font-family: "宋体";
    font-size: 12px;
    line-height: 33px;
    text-align: center;
    color: #a0a0a0;
    cursor: pointer;


}
.zhutig{
	float: left;
	width: 74.3px;
	height: 33px;
	font-family: "宋体";
    font-size: 12px;
    line-height: 33px;
    text-align: center;
    color: #a0a0a0;
    cursor: pointer;
	border-bottom:  1px solid #e5e5e5;
	border-right:  1px solid #e5e5e5;
	background: #f5f5f5;
}
#jiag{
	width: 232px;
	height: 95px;
	left: 0px;
	top: 34px;
	float: left;
}

#jiag a:before{
	content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c0c0c0;
    margin-left: 8px;
     margin-right: 8px;
    display: inline-block;
    /*padding-left: 10px;*/
}
#jiag a{
	display: block;

	margin-left: 0;
    margin-top: 6px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #999999;
}
#jiag a:hover{
	color:#fe4d45;
}
#keg a:hover{
	color:#fe4d45;
}
#keg a{
	display: block;

	margin-left: 0;
    margin-top: 6px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #999999;
}
#keg a:before{
	content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c0c0c0;
    margin-left: 8px;
     margin-right: 8px;
    display: inline-block;
    /*padding-left: 10px;*/
}
#keg{
	display: block;
	width: 232px;
	height: 95px;
	left: 0;
   	top: 34px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #999999;
    position: absolute;

}
#keg1 a:hover{
	color:#fe4d45;
}
#keg1 a{
	display: block;

	margin-left: 0;
    margin-top: 6px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #999999;
}
#keg1 a:before{
	content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c0c0c0;
    margin-left: 8px;
     margin-right: 8px;
    display: inline-block;
    /*padding-left: 10px;*/
}
#keg1{
	display: block;
	width: 232px;
	height: 95px;
	left: 0;
   	top: 34px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #999999;
    position: absolute;

}


.sixian{
	width: 194px;
	height: 122px;
	margin-top:10px;
	margin-left:19px;
	position: relative;
}

.l1{
	border-right: 1px solid #f6f6f6;
	border-bottom:1px solid #f6f6f6;
	width: 97px;
	height: 61px;
	float: left;
	position: absolute;
}
.l2{
	/*border-right: 1px solid #f6f6f6;
	border-bottom:1px solid #f6f6f6;*/
	width: 97px;
	float: right;
	height: 61px;
	position: absolute;
	left:98px;
	top: 0px;
}
.l3{
	position: absolute;
	left: 0px;
	top: 62px;
	width: 97px;
	height: 61px;

}
.l4{
	border-top:1px solid #f6f6f6;
	border-left:1px solid #f6f6f6;
	position: absolute;
	left: 96.6px;
    top: 60.6px;
	width: 97px;
	height: 61px;
}
.l1 span:nth-of-type(1) {
	text-align: center;
	font-family: "微软雅黑";
    font-size: 18.55px;
    color: #fe4d45;
    width: 62px;
    height: 27px;
        position: absolute;
    left: 2px;
    text-align: center;
}
.l1 span:nth-of-type(2) {
	position: absolute;
	left: 8px;
	top: 31px;
	 font-family: "微软雅黑";
    font-size: 14.48px;
    color: #999999;
}
.l3 span:nth-of-type(1) {
	text-align: center;
	font-family: "微软雅黑";
    font-size: 18.55px;
    color: #fe4d45;
    width: 62px;
    height: 27px;
        position: absolute;
    left: 2px;
    top: 5px;
    text-align: center;
}
.l3 span:nth-of-type(2) {
	position: absolute;
	left: 8px;
	top: 31px;
	 font-family: "微软雅黑";
    font-size: 14.48px;
    color: #999999;
}
.l2 span:nth-of-type(1) {
	text-align: center;
	font-family: "微软雅黑";
    font-size: 18.55px;
    color: #fe4d45;
    width: 62px;
    height: 27px;
        position: absolute;
    left: 20px;
    top: 1px;
    text-align: center;
}
.l2 span:nth-of-type(2) {
	position: absolute;
	left: 26px;
    top: 31px;
	 font-family: "微软雅黑";
    font-size: 14.48px;
    color: #999999;
}
.l4 span:nth-of-type(1) {
	text-align: center;
	font-family: "微软雅黑";
    font-size: 18.55px;
    color: #fe4d45;
    width: 62px;
    height: 27px;
        position: absolute;
    left: 20px;
    top: 1px;
    text-align: center;
}
.l4 span:nth-of-type(2) {
	position: absolute;
	left: 26px;
    top: 31px;
	 font-family: "微软雅黑";
    font-size: 14.48px;
    color: #999999;
}
.ph{
	width:100%;
	height:auto;
}
.liuc{
	width: 1196px;
	height: 93px;
	margin-top:10px;
	clear: both;
	float:left;
}

.jingxuan{
	width: 1198px;
	height: 159px;
	margin-top:10px;
	clear: both;
	float:left;
}
.iu{
	width: 174px;
	height: 159px;
	background: url('../img/tuijian.jpg');
	float: left;
}
.mianshi{
	width: 170px;
	height: 159px;
	float: right;
	position: relative;
	background: #fff;
	margin-left: 2px;
}

.ziyi{
    font-size: 17.59px;
    color: #737373;
    left: 10px;
    top: 2px;
    position: absolute;
    font-family: 'Adobe 黑体 Std';
}
.zier{
	width: 51px;
	height: 22px;
	background: #ff857f;
	 font-family: "微软雅黑";
    font-size: 14.57px;
    color: #ffffff;
   left: 10px;
    top:35px;
    position: absolute ;
    text-align: center;
    line-height: 22px;
}
.guku{
	width: 144px;
    height: 100px;
    left: 26px;
    top: 59px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    transition:left 0.5s;
	-moz-transition:left 0.5s; /* Firefox 4 */
	-webkit-transition:left 0.5s; /* Safari and Chrome */
	-o-transition:left 0.5s; /* Opera */
}
.guku:hover{
	left: 21px;
}
.guku img{
	width:auto;
    max-height: 100%;
}
#df{
	margin-left:-10px;
}
.yptj{
	height: 60px;
	width: 1198px;
	border-bottom:1px solid #5b6269;
	clear: both;
	/*margin-top: 16px;*/
	line-height: 57px;
}
.yptj span{
	font-family: "微软雅黑";
    font-size: 27.89px;
    color: #343434;
    font-weight: bold;
}
.yptj img:nth-of-type(1){
	position: relative;
	left: 10px;
}
.zuoyi{
	position: relative;
	left: 70%;
	cursor:pointer;
}
.youyi{
	position: relative;
	left: 71%;
	cursor:pointer;
}
.yptj_right{
	width: 304px;
	height: 62px;
	float: right;
	line-height: 62px;
}
.yptj_right1{
	width: 673px;
    height: 39px;
    float: right;
}
.yptj_right1 a{
	display: block;
	float: right;
	width: 82px;
	height: 14px;
	border-left: 1px solid #ededee;
	margin-left: 0px;
	text-align: center;
	line-height: 14px;
	font-family: "微软雅黑";
    font-size:14.12px;
    color: #333333;
    margin-top:23px;
}
.yptj_right a{
	display: block;
	float: right;
	width: 82px;
	height: 28px;
	border: 1px solid #fe4d45;
	margin-left: 9px;
	text-align: center;
	line-height: 28px;
	font-family: "微软雅黑";
    font-size: 12px;
    color: #fe4d45;
    margin-top:6px;
}
#uy{
	font-family: "微软雅黑";
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background: #fe4d45;
}

.ypmk{
	width: 1198px;
	background: #f3f4f5;
	margin-top:16px;
	float:left;
}
.ypmk1{
	width: 1198px;
	height: auto;
	float:left;
}
.ypmk2{
	width: 1198px;
	background: #f3f4f5;
	margin-top:16px;
	float:left;
}
.zhanshi{
	width: 1198px;
	height: auto;
	display: flex;
	flex-direction:row ;
	flex-wrap:wrap;
	/*flex-flow:row nowrap;*/
	justify-content:space-between;
	align-items:flex-start;
	align-content:flex-start;
	margin-top:20px;
}
.youpin{
	display: block;
    width: 1207px;

}
.youpin div{
	margin-right:10px;
}
.ius{
	margin-top:0px;
	display: block;
    width: 1207px;
}
.ius div{
	margin-right:10px;
}
.hia{
	height:383px;
}
.migs{
	width: 231px;
	height: 380px;
	background: #ffffff;
	position: relative;
	float: left;
	margin-bottom:10px;
}
.dakz{
	width: 231px;
    height: 231px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow:hidden;
    // transition: .2s transform;
    // transform: translateZ(0);
    // z-index: 10;
ko
}
.dakz img{
	width: auto;
	max-height: 100%;
}
.dakz img:hover{
	transform: scale(1.1, 1.1);
    transition: .3s transform;
    z-index: 100;
}
.spbt{
	position: absolute;left: 10px;top:255px;
	font-family: "微软雅黑";
    font-size: 13.86px;
    color: #5d5d5d;
}
.spbt:hover{
	color:#fe4d45;
}
.pri_ce{
	position: absolute;left: 10px;top:285px;
	font-family: "微软雅黑";
    font-size: 13.86px;
    color: #fe4d45;
    /*text-decoration: line-through ;*/
}
.xianliang{
	width: 57px;
	height: 21px;
	position: absolute;
	font-family: "宋体";
	    left: 161px;
    top: 282px;

    font-size: 12px;
    color: #a0a0a0;
    text-align: center;
    line-height: 21px;
    border:1px solid #d7d7d7;
    border-radius: 5px;
}
.jinduk{
	width: 211px;
	height: 7px;
	background: #e5e5e5;
	border-radius: 10px;
	position: absolute;
	left: 10px;
	top:316px;
}
.jinduk i{
	position: absolute;
	width: 59%;
	height: 7px;
	background: -webkit-linear-gradient(left, #fd73a4 , #aa7afb);
	border-radius: 10px;
}
.mflq{
	width: 155px;
	height: 29px;
	text-align: center;
	text-decoration:none;
	line-height: 29px;
	font-family: "微软雅黑";
    font-size: 15px;
    color: #fe4d45;
    position: absolute;
    left: 37px;
    top: 337px;
    border:1px solid #fe4d45;
    border-radius: 5px;
}
.mflq:hover{
	background:#fe4d45;
	color:#ffffff;
}
/*三角*/
#gg{
	border-radius: 5px;
	width: 80px;
	height: 30px;
	 position: relative;
	 background: #fe4d45;
	 font-family: "微软雅黑";
    font-size: 14.12px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    top: -9px;
}
#gg:after{
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            left: 50%;
            margin-left: -10px;
            content: " ";
            border-bottom: 7px solid  #fe4d45 ;
            border-left: 7px solid transparent ;
            border-right: 7px solid transparent ;

        }
        #gg:before{
           position: absolute;
    top: 29px;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -5px;
    content: " ";
    border-top: 7px solid #fe4d45;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

        }

.paixu{
	width: 477px;
	height: 53px;
	text-align: center;
	line-height: 53px;
}
.paixu div{
	float: left;
	text-align: center;
	width: 106px;
	height: 16px;
	line-height: 16px;
	border-right:1px solid #e6e7e8;
	    margin-top: 19px;

}
.paixu div span{
	 font-family: "微软雅黑";
    font-size: 15.74px;
    color: #333333;
}
.paixu div img {
	margin-left: 10px;
}
#ko div span{
	color:#fe4d45;
}


//隐藏列表
.list{
	width: 170px;
    height: 391px;
    border: 1px solid #e5e5e5;
    // position: absolute;
    // left: 12%;
    // top: 18%;
    background: #ffffff;
    float:left;
}
.list ul li{
	list-style: none;
	width:170px;
	height:39px;
	text-align:center;
	line-height:39px;
	cursor:pointer;
}
.list ul li img{
	margin-left:10px;
    position: relative;
    left: 28px;
    top: -40px;
}
.list ul li a{
	font-size: 13.89px;
    color: #747474;
    font-family:"微软雅黑";
    width:170px;
	height:39px;
	display:block;
    margin-left: -9px;
}
.qiemore{
	width:1195px;
	height:50px;
	background:#ffffff;
	text-align:center;
	line-height:50px;
	font-size: 13.7px;
    color: #333333;
    font-family:"微软雅黑";
    text-decoration:none;
    float:left;
    margin-top:20px;
    margin-bottom:20px;
}
.qiemore:hover{
	color:#fe4d45;
}
.yu1{
	font-size: 15px;
    color: #fe4d45;
    font-family: "微软雅黑";
    font-weight: bold;
    position: absolute;
    left: 27px;
    top: 51px;
    width: 78px;
    text-align: center;
}
.zhi1{
	font-size: 15px;
    color: #fe4d45;
    font-family: "微软雅黑";
    position: absolute;
    font-weight: bold;
    left: 120px;
    top: 51px;
    width: 81px;
    text-align: center;
}
.yu2{
	    font-size: 12px;
    color: #757575;
    font-family: "微软雅黑";
    position: absolute;
    left: 45px;
    top: 75px;
}
.zhi2{
	    font-size: 12px;
    color: #757575;
    font-family: "微软雅黑";
    position: absolute;
    left: 137px;
    top: 75px;
}
.zhushu{
	width:100%;
	height:auto;
	background:#eeeff1;
}
.hezizou{
	width:9999px;
	height:auto;
	position:absolute;
	left:0px;
	transition: all 0.5s;
}
.hia{
	display:block;
	overflow:hidden;
	position:absolute;
}
.hezizou div{
	margin-right:10px;
}


// 右侧导航
.youdao{
	height:100%;
	width:50px;
	position:fixed;
	right:0;
	bottom:0;z-index:9;
	-webkit-transition: width linear .4s;
	-moz-transition: width linear .4s;
	-ms-transition: width linear .4s;
	transition: width linear .4s;
}
.youdao_con{
	height:100%;
	width:40px;
	position:absolute;
	background:#444851;
	right:0;
	bottom:0;z-index:2;
	font-family:"微软雅黑";
	font-size:12px;
	color:#ffffff;
}
.youdao_top{
	position: absolute;
	top: 60px;
	left: 0;
	background: #444851;
	z-index: 2;
	width: 40px;
}
.youdao_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40px;
	background: #444851;
	z-index: 1;
}
.youdao_bottom  div{
	width:40px;
	height:35px;
	 // text-align: center;
  //   display: table-cell;
  //   vertical-align: middle;
}
#xsdb{
	display:none;
}
#xsdb img{
	margin-left: 14px;
    margin-top: 15px;
}
#gdhh{
	width:40px;
	height:78px;
}
#gdhh span{
	// margin-top:
	// margin-left:
}
.hhgd{
	width: 25px;
    height: 78px;
    text-align: center;
    line-height: 15px;
    display: block;
    position: relative;
    left: 8px;
    top: -1px;
    // border-top: 1px solid #383839;
    // border-bottom: 1px solid #383839;
}
.hhgd span{
	position:relative;
	left:0px;
	top:10px;
}
.youdao_bottom div img{
	margin-left: 11px;
    margin-top: 8px;
}
.youdao_bottom a{
	font-family: "微软雅黑";
    font-size: 12px;
    color: #ffffff;
}
.youdao_top a div{
	width:40px;
	height:90px;

}
.youdao_top a{
	font-family: "微软雅黑";
    font-size: 12px;
    color: #ffffff;
}
#meitop{
	border-top:none;
	background:#fe4d45;
}

#meitop img{
	margin-left:8px;
	margin-top:11px;

}
#meitop span{
	 width: 37px;
    height: 28px;
    position: relative;
    left: 8px;
    top: 10px;
}
.yhzx{
	width:23px;
	height:90px;
	display:block;
	margin-left:8px;
	text-align:center;
	line-height:16px;
	// border-top:1px solid #383839;
	// border-bottom:1px solid #383839;
	letter-spacing:8px
}
.yhzx span{
	    margin-top: 14px;
    margin-left: -5px;
    position: absolute;
}
.youdao_top div:nth-of-type(3){
	text-align:center;
	line-height:16px;
}
.wdsy{
	    margin-top: 14px;
    position: absolute;
	margin-left:14px;
}
.youdao_top a div:hover{
	background:#fe4d45
}
.youdao_bottom a div:hover{
	background:#fe4d45
}
#fu1,#fu3,#fu4{
	width: 80px;
    height: 35px;
    background: #494949;
    color: #fff;
    font-size: 12px;
    font-family:'微软雅黑';
    text-align: center;
    line-height: 35px;
    display: block;
    position: absolute;
    right: 70px;
    top: 0;
   // -webkit-transition:right 0.5s,opacity 0.5s;
    opacity: 0;
}
#fu2{
	width:113px;
	height:112px;
	background:url('../img/foot_erwei.jpg');
	position:absolute;
	top:35px;
	right:70px;
	// -webkit-transition:right 0.5s,opacity 0.5s;
	opacity: 0;
}
#fu2:before{
	position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    left: 106%;
    margin-left: -8px;
    content: " ";
    border-top: 7px solid transparent;
    border-left: 7px solid #ffffff;
    border-bottom: 7px solid transparent;
}
#fu3{
	 top: 70px;
}
#fu4{
	 top:105px;
}


 #fu1:before,#fu3:before,#fu4:before{
   position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    left: 106%;
    margin-left: -5px;
    content: " ";
    border-top: 7px solid transparent;
    border-left: 7px solid #494949;
    border-bottom: 7px solid transparent;
}
.sjhm:hover{
	text-decoration:underline;
}
// 任务中心下拉
.renwu_sanjiao:before{
	position: absolute;
    left:55%;
    width: 0;
    height: 0;
    top:21px;
    margin-left: -10px;
    content: " ";
      border-left: 6px solid transparent;
    border-top: 4px solid #fe4d45;
    border-right: 6px solid transparent;
}
.renwu_sanjiao span{
	margin-left: -8px;
    font-size: 14px;
}
.renwu_list{
	width: 89px;
	height:61px;
	border-radius:2px;
	background:#ffffff;
	position:absolute;
	left: 580px;
    top: 38px;
    z-index: 10;
    display:none;
}
.renwu_list a{
	width: 89px;
	height:30px;
	text-align:center;
	line-height:30px;
	color: #3e3e3e;
    font-size: 13.85px;
    font-family:'微软雅黑';
    text-decoration:none;
    display:block;
}
.renwu_list a:hover {
	color:#fe4d45;
}
