.mt-70{
	margin-top: 70px;
}
.bgc-grad{
	background-color: #f9f9f9;
}
.mt-20{
	margin-top: 20px;
}
.pl-20{
	padding-left: 20px;
}
.pr-20{
	padding-right: 20px;
}
.pt-20{
	padding-top: 20px;
}
.pb-20{
	padding-bottom: 20px;
}
.ml-20{
	margin-left: 20px;
}
.img-banner>a>img,.img-swiper img{
	width: 100%;
}
.info-price{
	font-size: 16px;
	color: #f12828;
}
.info-comment{
	color: #b3b0b0;
}
.info-pernum{
	color:#6262f5;
}
.border{
	border: 1px solid #e3e3e3;
}
.border:hover{
	box-shadow: rgba(50, 50, 50, 0.26) 0px 0px 2px 0px;
}
.dis-inlineblock{
    display: inline-block;
}
.drow-8{
	position: relative;
    top: 8px;
}
.up-25{
	position: relative;
    top: -25px;
}
.dis-none{
	display: none;
}
.dis-block{
	display: block;
}
.is-follow img{
	width: 35px;
	padding-right: 5px;
}
.is-follow{
	color: white;
	background-color: rgba(138, 134, 134, 0.51);;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.img-banner{
	position: relative;
}
